<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"
    integrity="sha512-HTENHrkQ/P0NGDFd5nk6ibVtCkcM7jhr2c7GyvXp5O+4X6O5cQO9AhqFzM+MdeBivsX7Hoys2J7pp2wdgMpCvw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
  <h1>
    Forecast:
    <span id="data"></span>
  </h1>
  <script>
    const socket = io();
    console.log(socket);
    socket.on("mod_forecast", (data) => {
      console.log("Hola");
      document.querySelector("#data").innerHTML = data;
    });
  </script>
</body>

</html>